.dropdown-form {
  border-radius: 8px;
  background-color: #1a1a1a;
  border: 1px solid #4a4949;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  padding: 8px 16px;
}
.dropdown-form ::placeholder {
  color: #4a4949;
}
